<section class="bg-main-light shadow my-2 p-4">
    <h1>Shipping Address</h1>
    <form [formGroup]="checkout" (ngSubmit)="submitForm()">
        <div>
            <label for="details">Details</label>
            <textarea formControlName="details" id="details" class="form-control"></textarea>
        </div>
        <div>
            <label for="phone">Phone</label>
            <input formControlName="phone" type="tel" id="phone" class="form-control"/>
        </div>
        <div>
            <label for="city">City</label>
            <input formControlName="city" type="text" id="city" class="form-control"/>
        </div>
        <button class="btn-main">CheckOut </button>
    </form>
</section>